div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.search-page .item-view .date{
     color:#aaaaaa;
     font-size:12px;
     padding-left:16px;
}
.search-page .item-view .title{
     font-size:12px;
     padding-left:16px;
}
.search-page .item-view .descr{
     font-size:12px;
     padding-left:16px;
}
.search-page .item-view{
     padding-bottom:15px;
}