.menuBlock .promo {
		position: relative;
		overflow: hidden;
		width: 130px;
		bottom: -10px;
		margin: 0 auto;
		border-radius: 4px;
}
	
.menuBlock .promo a {
	display: block;
	text-decoration: none;
	margin: 0 auto;
	padding: 3px 7px;
	font-size: .8em;
	background-color: red;
	color: #ffffff!important;
	background: #ee6e7b;
	background: url(data:image/svg+xml;base64\,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ee6e7b 0%, #f1372b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee6e7b), color-stop(100%,#f1372b));
	background: -webkit-linear-gradient(top, #ee6e7b 0%,#f1372b 100%);
	background: -o-linear-gradient(top, #ee6e7b 0%,#f1372b 100%);
	background: -ms-linear-gradient(top, #ee6e7b 0%,#f1372b 100%);
	background: linear-gradient(to bottom, #ee6e7b 0%,#f1372b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6e7b', endColorstr='#f1372b',GradientType=0 );
}

.menuBlock .promo {width: 140px;}
.menuBlock .promo.drop a i {
	display: block;
	width: 12px;
	height: 9px;
	position: absolute;
	top: 9px;
	right: 8px;
	background: url('tr_white.png');
}
.menuBlock .dropdown-container {position: relative; display: none;}
.menuBlock .dropdown {
	position: absolute;
	margin: 0 auto;
	width: 139px;
	border: 1px solid #E6E4DC;
	top: 15px;
	left: 100px;
}
.menuBlock .dropdown .border {border: 4px solid #EAFBFF;}
.menuBlock .dropdown a {
	padding-bottom: 3px;
	display: block; 
	text-align: left; 
	padding-left: 10px;
	font-size: 17px;
}